.grid-container[b-qzsu0wj56b] {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border: 0.5px solid #A3A3A3;
}

.grid-container .grid-item[b-qzsu0wj56b]{
    margin: 4px;
    cursor: pointer;
}

.grid-container .empty-collection-title[b-qzsu0wj56b]{
    text-align: center;
    margin-top: 10px;
}